@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

@layer components {
  .link {
    @apply hover:underline cursor-pointer;
  }
  .btn {
    @apply bg-[#f8f9fa] p-3 rounded-md ring-gray-200 text-sm text-gray-800 hover:ring-1 focus:outline-none active:ring-gray-300 hover:shadow-md dark:bg-secondary-dark dark:text-gray-100 ;
  }

  .searchPageBtn {
    @apply flex flex-grow flex-row justify-center py-2 items-center cursor-pointer rounded-full border border-transparent hover:border hover:border-gray-400 max-w-[200px] hover:bg-gray-100  dark:hover:bg-secondary-dark;
  }
}
